<div class="container-fluid fade-in">
  <div class="row">

    <div class="col-12 my-4">
      <h2 class="text-center fw-bold text-gradient-animation">
        Register and start the journey
      </h2>
    </div>

  </div>

  <div class="row">
    <div class="col col-lg-6 col-md-12 col-sm-12 mb-4">
      <form class="row g-3 ms-2 py-3 glass-style ">
        <div class="col-md-6">
          <label for="inputName" class="form-label">Name</label>
          <input type="text" class="form-control rounded-pill" id="inputName">
        </div>
        <div class="col-md-6">
          <label for="inputSurname" class="form-label">Surname</label>
          <input type="text" class="form-control rounded-pill" id="inputSurname">
        </div>
        <div class="col-md-6">
          <label for="inputName" class="form-label">Email</label>
          <input type="text" class="form-control rounded-pill" id="inputEmail" #userEmail required>
        </div>
        <div class="col-md-6">
          <label for="inputSurname" class="form-label">Password</label>
          <input type="password" class="form-control rounded-pill" id="inputPassword" #userPwd required>
        </div>
        <div class="col-12">
          <label for="inputEmail" class="form-label">Profile picture</label>
          <input type="file" class="form-control rounded-pill" id="inputProfile">
        </div>
        <div class="col-12">
          <label for="inputEmail" class="form-label">Cover image</label>
          <input type="file" class="form-control rounded-pill" id="inputAddress">
        </div>
        <div class="col-12">
          <label for="inputEmail" class="form-label mb-0">Education</label>
          <p class="text-secondary">Bachelor's course </p>
          <input type="email" class="form-control rounded-pill" id="inputEducation">
          <p class="text-secondary mb-1 mt-2">Master course (optional)</p>
          <input type="email" class="form-control rounded-pill" id="inputEducation">
        </div>
        <div class="col-12">
          <label for="exampleFormControlTextarea1" class="form-label mb-0">Intro</label>
          <p class="text-secondary">Write a short description about you </p>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <div class="col-12">
          <button value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value)">Send</button>
        </div>
      </form>
    </div>
    <div class="col col-lg-6 col-md-12 col-sm-6 col-12">
      <img src="../../../assets/register.png" alt="register illustration" class="img-fluid slide-in-left ">
    </div>
  </div>

</div>
