h2{
  font-size: 6vw;
}

.subtitle{
  color: #828282;
}

// ANIMATION ON BUTTON
button {
  padding: 10px 30px;
  border: unset;
  border-radius: 30px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }

 button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-image:linear-gradient(to right, #f32487 0%, #4155e2 100%);
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }

 button:hover {
  color: white;
 }

 button:hover::before {
  width: 100%;
 }
