<div class="container-fluid px-0 fade-in">

  <div class="background-section">
    <div class="p-5 text-center glass-style-no-borders">
      <div class="container py-5 ">
        <h1 class="text-gradient-animation">PHOTOGRAPHY</h1>
        <p class="col-lg-8 mx-auto lead">
          Welcome to our section with photography projects
        </p>
      </div>
    </div>
  </div>


    <div class="col-lg-10 mx-auto">
      <h2 class="text-center mt-5">
        Discover the latest works from young photographers
      </h2>
    </div>


</div>

<app-projects></app-projects>
