<div class="container-fluid fade-in">
  <div class="row">

    <div class="col-12 my-4">
      <h2 class="text-center fw-bold text-gradient-animation">
        Hi there! Welcome back again!
      </h2>
    </div>
    <div class="col-lg-6 my-4">
      <img src="../../../assets/login-image.png" alt="Login Illustration" class="img-fluid">
    </div>

    <div class="col-lg-6">
      <div class="form-container">
      <form class="login">
        <input type="text" placeholder="Username" class="rounded-pill" #userName required>
        <input type="password" placeholder="Password" class="rounded-pill" #userPassword required>
        <button value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">Login</button>
      </form>
    </div>
    </div>

    <div class="col-lg-6 offset-6">
      <div>
        <h4 class="text-center">
          Don't have an account? <a routerLink="/register">Register here</a>
        </h4>
      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>
