<div class="container-fluid fade-in">
  <div class="row">

    <div class="col-12 my-4">
      <h2 class="text-center fw-bold text-gradient-animation">
        Hi there! Welcome back again!
      </h2>
    </div>
    <div class="col-lg-6 my-4">
      <img src="../../../assets/login-image.png" alt="Login Illustration" class="img-fluid">
    </div>

    <div class="col-lg-6">
      <div class="form-container">
      <form class="login" (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control border rounded-pill" [(ngModel)]="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control border rounded-pill mb-3" [(ngModel)]="password" required>
        </div>
        <button type="submit" [disabled]="!loginForm.valid">Login</button>
      </form>
      <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
    </div>
    </div>

    <div class="col-lg-6 col-12">
      <div>
        <h4 class="text-center">
          Don't have an account? <a routerLink="/register">Register here</a>
        </h4>
      </div>
    </div>

  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 empty-space" style="height: 300px;">

    </div>
  </div>
</div>

<app-footer></app-footer>
