<div class="modal-header">
  <h5 class="modal-title">Update Cover Picture</h5>
  <button type="button" class="btn-close bg-white" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <div class="row mt-3">
    <div class="col-10">
      <input type="file" class="form-control rounded-pill mb-3" (change)="onFileSelected($event)">
    </div>

  </div>
  <div class="d-flex justify-content-center">
  <img *ngIf="previewUrl" [src]="previewUrl" class="img-fluid mx-auto rounded-circle object-fit-cover" style="height: 200px; width: 200px;">
</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="confirmUpdate()">Confirm</button>
</div>
