<div class="container-fluid px-0 fade-in">

  <div class="background-section">
    <div class="p-5 text-center glass-style-no-borders">
      <div class="container py-5 ">
        <h1 class="text-gradient-animation">SCULPTURE</h1>
        <p class="col-lg-8 mx-auto lead black-on-dark-mode">
          Welcome to our section with sculpture projects
        </p>
      </div>
    </div>
  </div>


    <div class="col-lg-10 mx-auto">
      <h2 class="text-center mt-5">
        Discover the latest works from young sculptors
      </h2>
    </div>


</div>

<div class="container-fluid mt-5 fade-in">
  <!-- Itera sui lavori nella categoria 'Sculpture' -->
  <div *ngFor="let work of categoryWorks">

    <div class="row align-items-center px-2">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1 text-gradient-animation">{{work.title}}</h2>
        <p class="lead truncate">{{work.description}}</p>
      </div>
      <div class="col-md-5">
        <div class="card-thumb" [style.background-image]="'url(' + work.photo[0] + ')'">
          <div class="card-description">
            <div class="content">
              <p class="heading">{{work.title}}</p>
              <p class="para truncate">{{work.description}}</p>
              <a [routerLink]="['/work', work.id]">
                <button class="btn">Discover</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">
  </div>
</div>
