h1{
  font-weight: 700;
  font-size: 9vw;
}

.background-section{
  background-image: url(../../../assets/sculpture-cover.png);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: 70%;
}


