<div class="container-fluid fade-in">
  <div class="row mt-0">
    <div class="col col-12 fixed-title p-0 bg-white">
      <div>
        <h2 class="fw-bold bg-white ps-3">
          Title No.13 - Mark Rothko
        </h2>
      </div>
    </div>
  </div>
    <div class="row mt-5">
    <div class="col col-lg-9 col-md-9 col-sm-12 col-12  p-0">
      <div> <!-- Image cover of project -->
        <img src="https://images.unsplash.com/photo-1457195740896-7f345efef228?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80" alt="Project cover" class="img-fluid">
      </div>
      <div class="my-3 p-3">
        <h4 class="fw-bold">
          Description
        </h4>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe beatae, sunt sint facere, sapiente doloremque corrupti esse quo, illo commodi minus odio veritatis id vero aliquam dolorem placeat. Reprehenderit, temporibus.
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe beatae, sunt sint facere, sapiente doloremque corrupti esse quo, illo commodi minus odio veritatis id vero aliquam dolorem placeat. Reprehenderit, temporibus.
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe beatae, sunt sint facere, sapiente doloremque corrupti esse quo, illo commodi minus odio veritatis id vero aliquam dolorem placeat. Reprehenderit, temporibus.
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe beatae, sunt sint facere, sapiente doloremque corrupti esse quo, illo commodi minus odio veritatis id vero aliquam dolorem placeat. Reprehenderit, temporibus.
        </p>
      </div>
      <div class="mb-1"> <!-- Images of project -->
        <img src="https://images.unsplash.com/photo-1457195740896-7f345efef228?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80" alt="Project cover" class="img-fluid">
      </div>
      <div class="mb-1"> <!-- Images of project -->
        <img src="https://images.unsplash.com/photo-1457195740896-7f345efef228?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80" alt="Project cover" class="img-fluid">
      </div>
      <div class="mb-1"> <!-- Images of project -->
        <img src="https://images.unsplash.com/photo-1457195740896-7f345efef228?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80" alt="Project cover" class="img-fluid">
      </div>
      <div class="mb-1"> <!-- Images of project -->
        <img src="https://images.unsplash.com/photo-1457195740896-7f345efef228?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80" alt="Project cover" class="img-fluid">
      </div>
    </div>
    <div class="col col-lg-3 col-md-3 cl-sm-12 ">
      <div class="sticked-artist-info">
        <h6 class="text-center text-secondary">
        About the author
      </h6>
      <div class="d-flex flex-column align-items-center">
        <div>
        <img src="https://1890056479.rsc.cdn77.org/rivista/immagini/2022/fn/mark-rothko-senza-titolo-guggenheim.jpg" alt="Artist profile image" class="img-fluid rounded-circle user-profile-img">
      </div>
      <div class="d-flex flex-column align-items-center">
        <a routerLink="/artist">
        <h4 class=" fw-bold text-center mt-2 hover-underline-animation">
          Mark Rothko
        </h4>
      </a>
        <p class="text-secondary px-2">
          Attention to formal elements such as color, shape, balance, depth, composition, and scale
        </p>
      </div>
    </div>
    <hr class="border-gradient">
    <div>
      <h5 class="fw-bold">
        Related content
      </h5>
      <!-- RELATED CONTENTS -->
      <div class="d-flex align-items-center">
      <div>
        <img src="https://www.pacegallery.com/media/images/10808_JgohBXz.width-2000.jpg" alt="Artist profile image" class="related-img">
      </div>
      <a routerLink="/work">
      <div class="ms-3">
        <p class="fw-bold mb-0">
          No.33
        </p>
        <p class="text-secondary mb-0">
          Mark Rothko
        </p>
      </div>
    </a>
      </div>


      <div class="d-flex align-items-center my-3">
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Parmigianino_Selfportrait.jpg" alt="Artist profile image" class="related-img">
      </div>
      <a routerLink="/work">
      <div class="ms-3">
        <p class="fw-bold mb-0">
          Autoritratto entro uno specchio convesso
        </p>
        <p class="text-secondary mb-0">
          Girolamo Francesco Maria Mazzola detto Parmigianino
        </p>
      </div>
    </a>
      </div>


      <div class="d-flex align-items-center">
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/06/Raffaello_-_Spozalizio_-_Web_Gallery_of_Art.jpg" alt="Artist profile image" class="related-img">
      </div>
      <a routerLink="/work">
      <div class="ms-3">
        <p class="fw-bold mb-0">
          Sposalizio della Vergine
        </p>
        <p class="text-secondary mb-0">
          Raffaello Sanzio
        </p>
      </div>
    </a>
      </div>


    </div>
    <div>

    </div>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
