.user-profile-img {
  width: 100px;
  height: 100px;
}
.related-img {
  width: 50px;
}

.sticked-artist-info{
  position: sticky;
  top: 20%;
}

.fixed-title{
  position: fixed;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: #4155e2;
}
