<div class="container-fluid">

  <div class="row">
    <div class="col-9">
      <h2 class="fw-bold ps-2">
        Welcome to your studio
      </h2>
    </div>

    <div class="col-3 d-flex align-items-center">
      <div id="profile-pic" class="rounded-circle me-2">
        <img src="https://historia-arte.com/_/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpbSI6WyJcL2FydGlzdFwvaW1hZ2VGaWxlXC9qZWZmLWtvb25zLmpwZyIsInJlc2l6ZUNyb3AsNDAwLDQwMCxDUk9QX0VOVFJPUFkiXX0.WymLOKLZs1DohoUov8o6oThB1qI6GgVRIGXqkRVe9UU.jpg" alt="Profile image">
      </div>
      <div>
        <p class="text-secondary mb-0">Hi!</p>
        <h6 class="fw-bold mt-0">Mark</h6>
      </div>
    </div>

  </div>

  <div class="row">

  </div>


</div>
