<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2 class="fw-bold ps-2">Welcome to your studio</h2>
      <p class="text-secondary ps-2">
        Here you can edit your info, change settings profile and post your work
      </p>
    </div>
  </div>

  <div class="row ps-3">
    <div
      class="col-12 col-sm-12 col-md-12 col-lg-9 p-3 border border-info rounded-4 mb-3"
    >
      <pre
        class="ms-2"
      ><i class="bi bi-grid"></i> Dashboard &rtrif; Upload a work</pre>

      <div class="d-flex">
        <div ngbAccordion class="w-100">
          <div ngbAccordionItem [collapsed]="true" class="bg-transparent">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>Click here to share your work</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <div class="glass-style p-4 col-12 white-on-dark-mode">
                    <h2 class="text-center fw-bold">
                      <i class="bi bi-x-diamond-fill"></i> Upload a work
                    </h2>
                    <div>
                      <p class="text-center">Title of your work</p>
                      <input
                        type="text"
                        class="form-control rounded-pill mb-3"
                        id="inputTitle"
                      />
                      <p class="text-center">Description of your work</p>
                      <textarea
                        name="intro"
                        id="intro-text"
                        cols="70"
                        rows="5"
                        class="rounded-2 mb-4"
                      ></textarea>

                      <label for="formFileMultiple" class="form-label"
                        >Upload multiple photos of your work</label
                      >
                      <app-upload-work></app-upload-work>

                      <p>Choose Category</p>
                      <div class="d-flex flex-column">
                        <div class="form-check form-switch">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            id="flexSwitchCheckDefault"
                            data-label="Photography"
                          />
                          <label
                            class="form-check-label"
                            for="flexSwitchCheckDefault"
                            >Photography</label
                          >
                        </div>
                        <div class="form-check form-switch">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            id="flexSwitchCheckDefault"
                            data-label="Painting"
                          />
                          <label
                            class="form-check-label"
                            for="flexSwitchCheckDefault"
                            >Painting</label
                          >
                        </div>
                        <div class="form-check form-switch">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            id="flexSwitchCheckDefault"
                            data-label="Sculpture"
                          />
                          <label
                            class="form-check-label"
                            for="flexSwitchCheckDefault"
                            >Sculpture</label
                          >
                        </div>
                        <div class="form-check form-switch">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            id="flexSwitchCheckDefault"
                            data-label="Installation"
                          />
                          <label
                            class="form-check-label"
                            for="flexSwitchCheckDefault"
                            >Installation</label
                          >
                        </div>
                      </div>
                      <div class="d-flex justify-content-end mt-3 me-5">
                        <button
                          class="btn btn-outline-dark rounded-pill px-4 save-btn"
                          (click)="pushWork()"
                        >
                          Publish work!
                        </button>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="text-bg-light rounded-4 p-2 mb-3" *ngIf="artistData">
        <div class="d-flex align-items-center justify-content-center">
          <div id="profile-pic" class="rounded-circle me-2">
            <img
              src="{{ artistData.profile_picture }}"
              alt="Profile image"
              class="img-fluid"
            />
          </div>
          <div>
            <p class="text-secondary mb-0">Hi!</p>
            <h6 class="fw-bold mt-0">{{ artistData.artistname }}</h6>
          </div>
        </div>

        <h5 class="fw-bold p-1 pb-0 mb-0 mt-1">Settings</h5>
        <hr class="mt-1" />
        <a [routerLink]="['/artist', artistData.uid]" class="settings-icon">
          <p class="ps-3">
            <i class="bi bi-person-circle"></i>
            <span class="hover-underline-animation ms-1">View profile</span>
          </p>
        </a>
        <div class="d-flex flex-column align-items-start">
          <button
            class="border-0 bg-transparent ps-0 settings-icon"
            (click)="
              openGenericModal('editProfilePicture', { artistData: artistData })
            "
          >
            <p class="ps-3">
              <i class="bi bi-person-fill"></i>
              <span class="hover-underline-animation ms-1"
                >Edit profile image</span
              >
            </p>
          </button>
          <button
            class="border-0 bg-transparent ps-0 settings-icon"
            (click)="
              openGenericModal('editCoverPicture', { artistData: artistData })
            "
          >
            <p class="ps-3">
              <i class="bi bi-image"></i>
              <span class="hover-underline-animation ms-1"
                >Edit cover image</span
              >
            </p>
          </button>
          <button
            class="border-0 bg-transparent ps-0 settings-icon"
            (click)="openGenericModal('editIntro', { artistData: artistData })"
          >
            <p class="ps-3">
              <i class="bi bi-card-text"></i>
              <span class="hover-underline-animation ms-1"
                >Edit your intro</span
              >
            </p>
          </button>
          <button
            class="border-0 bg-transparent ps-0 settings-icon"
            (click)="
              openGenericModal('editEducation', { artistData: artistData })
            "
          >
            <p class="ps-3">
              <i class="bi bi-mortarboard-fill"></i>
              <span class="hover-underline-animation ms-1"
                >Edit your education</span
              >
            </p>
          </button>
        </div>

        <hr />
        <a (click)="authService.SignOut()" class="logout">
          <p class="ps-3">
            <i class="bi bi-door-open-fill"></i>
            Logout
          </p>
        </a>
      </div>
    </div>
  </div>

  <div class="row px-3 gap-5">
    <div
      class="col-lg-6 border border-info rounded-4 mb-3"
      style="height: fit-content"
    >
      <h4 class="py-4 ps-2 fw-bold">
        <i class="bi bi-stars text-gradient-animation"></i> Your works
      </h4>
      <div>
        <div class="row align-items-center px-3" *ngFor="let work of userWorks">
          <div class="col-md-5">
            <h4 class="featurette-heading fw-normal lh-1">{{ work.title }}</h4>
            <p class="text-secondary truncate">{{ work.description }}</p>
            <button
              class="w-100 btn dashboard-btn"
              (click)="openEditWorkModal(work)"
            >
              <i class="bi bi-pencil-square"></i> Edit work
            </button>
          </div>
          <div class="col-md-7">
            <div
              class="card-thumb"
              [style.background-image]="'url(' + work.photo[0] + ')'"
            >
              <div class="card-description">
                <div class="content">
                  <p class="heading text-center">{{ work.title }}</p>
                  <p class="my-3">
                    <br />
                  </p>
                  <a [routerLink]="['/work', work.id]">
                    <button class="btn">See work</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="ps-3">
            <button
              class="btn btn-outline-danger rounded-pill mt-4"
              (click)="openDeleteWorkModal(work.id)"
            >
              <i class="bi bi-trash3"></i> Delete work
            </button>
            <hr class="mt-4 mb-5" />
          </div>
        </div>
      </div>
    </div>

    <div
      class="col-lg-5 col-12 border border-info rounded-4 mb-3 overflow-auto"
      style="height: fit-content"
    >
      <h4 class="p-4 fw-bold">
        <i class="bi bi-bookmark-heart favourite"></i> Saved works
      </h4>

      <div *ngFor="let work of userFavorites">
        <div class="d-flex align-items-center justify-content-between">
          <div class="saved-img-thumb d-flex align-items-center">
            <img
              src="{{ work.photo[0] }}"
              alt="Favourite image thumb"
              class="rounded-2 img-fluid"
            />
            <div class="ms-3">
              <a [routerLink]="['/work', work.id]" style="color: black">
                <h4 class="fw-bold white-on-dark-mode">{{ work.title }}</h4>
              </a>
              <p>{{ work.artistName }} {{ work.artistSurname }}</p>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <div>
              <p><i class="bi bi-heart-fill favourite fs-3"></i></p>
            </div>
            <div class="d-flex flex-column mt-4 align-items-center">
              <button
                class="border border-0 bg-transparent"
                (click)="removeFavorite(work.id)"
              >
                <p class="mb-0">
                  <i class="bi bi-bookmark-x remove-icon fs-3"></i>
                </p>
                <p style="color: #4155e2">Remove</p>
              </button>
            </div>
          </div>
        </div>
        <div class="px-5">
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
