<div class="container-fluid mt-5 fade-in">

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row align-items-center px-2">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">The Power of the Human Spirit</h2>
      <p class="lead">This photograph is a portrait of a person who is overcoming adversity. The person is smiling and determined, despite the challenges they are facing. The person is standing in front of a brick wall, which is covered in graffiti. The graffiti is dark and threatening, but the person is not afraid. They are standing up to the adversity and refusing to give up. The photograph is a reminder that the human spirit is capable of great things.</p>
    </div>
    <div class="col-md-5">
      <div class="card-thumb" style="background-image: url(https://images.unsplash.com/photo-1623172959921-630212f71058?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1632&q=80);">
      <div class="card-description">
        <div class="content">
          <p class="heading">The Power of the Human Spirit
          </p>
          <p class="para">
            This photograph is a portrait of a person who is overcoming adversity. The person is smiling and determined...
          </p>
          <a routerLink="/work">
          <button class="btn">Discover</button>
        </a>
        </div>
      </div>
    </div>
    </div>
  </div>

  <hr class="featurette-divider">

</div>
