<div class="container-fluid mt-5 fade-in">

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row align-items-center px-2">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Main title</h2>
      <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
    </div>
    <div class="col-md-5">
      <div class="card-thumb">
      <div class="card-description">
        <div class="content">
          <p class="heading">Title
          </p><p class="para">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi
            laboriosam at voluptas minus culpa deserunt delectus sapiente
            inventore pariatur
          </p>
          <a routerLink="/work">
          <button class="btn">Discover</button>
        </a>
        </div>
      </div>
    </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row align-items-center px-2">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Main title</h2>
      <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
    </div>
    <div class="col-md-5 order-md-1">
        <div class="card-thumb">
          <div class="card-description">
            <div class="content">
              <p class="heading">Title
              </p><p class="para">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi
                laboriosam at voluptas minus culpa deserunt delectus sapiente
                inventore pariatur
              </p>
              <a routerLink="/work">
                <button class="btn">Discover</button>
              </a>
            </div>
          </div>
        </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row align-items-center px-2">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Main title</h2>
      <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
    </div>
    <div class="col-md-5">
        <div class="card-thumb">
          <div class="card-description">
            <div class="content">
              <p class="heading">Title
              </p><p class="para">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi
                laboriosam at voluptas minus culpa deserunt delectus sapiente
                inventore pariatur
              </p>
              <a routerLink="/work">
                <button class="btn">Discover</button>
              </a>
            </div>
          </div>
        </div>
      </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->


</div>
