<div class="row align-items-baseline">
  <div class="col-10">

    <label class="form-label w-100">
      <input
        type="file"
        class="form-control rounded-pill mb-3 "
        (change)="selectFile($event)"
      />
    </label>
  </div>

  <div class="col-1">
    <button
      class="rounded-pill dashboard-btn mx-0"
      [disabled]="!selectedFiles"
      (click)="upload()"
    >
      Upload
    </button>
  </div>
</div>

<div *ngIf="showProgressBar" class="progress mb-2">
  <div
    class="progress-bar progress-bar-info"
    role="progressbar"
    attr.aria-valuenow="{{ percentage }}"
    aria-valuemin="0"
    aria-valuemax="100"
    [ngStyle]="{ width: percentage + '%' }"
  >
    {{ percentage }}%
  </div>
</div>
<div *ngIf="uploadCompleted" class="alert alert-success mt-3">
  {{ successMessage}}
</div>

<div class="card border rounded-3">
  <div class="card-header">Your file </div>
  <ul class="list-group list-group-flush" *ngIf="fileUploads.length > 0">
    <li class="list-group-item"
        *ngFor="let file of fileUploads; let i = index ">
      <a href="{{ file.url }}">{{ file.file.name }}</a>
<button (click)="deleteFileUpload(file)"
  class="btn btn-danger btn-sm rounded-pill px-3" style="float: right">
  Delete
</button>

    </li>
  </ul>
</div>
