<div class="container-fluid fade-in">
  <div class="row">
    <div class="col col-12 mb-5">
      <h2 class="ps-2">
        Any inquiries?
      </h2>
      <h4 class="ps-2 text-gradient-animation">
        Get in touch
      </h4>
    </div>
    <div class="col col-lg-6 col-md-12 col-sm-12 mb-4">
      <form class="row g-3 ms-2 py-3 glass-style ">
        <div class="col-md-6">
          <label for="inputName" class="form-label">Name</label>
          <input type="text" class="form-control rounded-pill" id="inputName">
        </div>
        <div class="col-md-6">
          <label for="inputSurname" class="form-label">Surname</label>
          <input type="text" class="form-control rounded-pill" id="inputSurname">
        </div>
        <div class="col-12">
          <label for="inputEmail" class="form-label">Email</label>
          <input type="email" class="form-control rounded-pill" id="inputAddress">
        </div>
        <div class="col-12">
          <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <div class="col-12">
          <button type="submit">Send</button>
        </div>
      </form>
    </div>
    <div class="col col-lg-6 col-md-12 col-sm-6">
      <img src="../../../assets/contact-us-illustration.png" alt="contact us illustration" class="img-fluid slide-in-left ">
    </div>
  </div>
</div>
<app-footer></app-footer>
