<div class="container-fluid mb-5 fade-in">
  <div class="row align-items-center">
    <div class="col col-5">
      <h1 class="text-center">
        OOPS!
      </h1>
      <p class="text-center">
        Sorry, we can't find that page.<br> You'll find loads to explore on home page.
      </p>
      <div class="d-flex align-items-center flex-column">
      <a [routerLink]="'..'"><button>Take me to home</button></a>
      <p class="mt-5 border-start border-2 ps-2">
        Error code 404
      </p>
      </div>
    </div>
    <div class="col col-6 mx-auto">
      <img
        src="../../../assets/404error.png"
        alt="404 Error"
        class="img-fluid"
      />
    </div>
  </div>
</div>

<app-footer></app-footer>
