<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-gradient">
    <div class="col mb-3" id="logo">
      <a [routerLink]="'.'" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
        <img src="../../../assets/Logo Glimm.png" alt="Glimm Logo">
        <span><p class="text-body-secondary ms-4 mb-0">© 2023</p></span>
      </a>

    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
      <h5>Discover</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary" [routerLink]="'/photography'">Photography</a></li>
        <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary" [routerLink]="'/painting'">Painting</a></li>
        <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary" [routerLink]="'/sculpture'">Sculpture</a></li>
        <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary" a [routerLink]="'/installation'">Installation</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5><a [routerLink]="'/about'">About</a></h5>
      <!-- <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
      </ul> -->
    </div>

    <div class="col mb-3">
      <h5><a [routerLink]="'/contact'">Contact</a></h5>
      <!-- <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
      </ul> -->
    </div>
  </footer>
</div>
