<div class="container-fluid px-0 fade-in">
<div class="row m-0">
  <div class="col col-12 p-0">
    <div id="profile-upper">
      <div id="profile-cover-img">
        <img src="https://images.unsplash.com/photo-1590342823852-2ab98729f250?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2748&q=80" alt="Banner image">
      </div>
      <div id="profile-img-container">
        <div id="profile-pic" class="rounded-circle">
          <img src="https://historia-arte.com/_/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpbSI6WyJcL2FydGlzdFwvaW1hZ2VGaWxlXC9qZWZmLWtvb25zLmpwZyIsInJlc2l6ZUNyb3AsNDAwLDQwMCxDUk9QX0VOVFJPUFkiXX0.WymLOKLZs1DohoUov8o6oThB1qI6GgVRIGXqkRVe9UU.jpg" alt="Profile image">
        </div>
        <div id="username">
          <h2 class="fw-bold text-gradient-animation">Jeff Koons</h2>
        </div>
        <!-- Section EDIT PROFILE -->
        <!-- <div class="tb" id="m-btns">
          <div class="td">
            <div class="m-btn"><i class="material-icons">format_list_bulleted</i><span>Activity log</span></div>
          </div>
          <div class="td">
            <div class="m-btn"><i class="material-icons">lock</i><span>Privacy</span></div>
          </div>
        </div> -->
        <!-- <div id="edit-profile"><i class="material-icons">camera_alt</i></div> -->
      </div>
      <div id="black-grd"></div>
    </div>
  </div>
</div>
<div class="row mt-5 mx-0 ps-5">
  <div class="col col-3 pt-3">
    <div class="bg-light border rounded-4 py-3">
    <h5 class="fw-bold text-center">
      Intro
    </h5>
    <p class="ps-4 text-secondary">
      Recognized for dealing with popular culture and sculptures depicting everyday objects, including balloon animals produced in stainless steel with mirror-finish surfaces.
    </p>
    <h5 class="fw-bold text-center">
      Education
    </h5>
    <p class="ps-4 text-secondary">
      School of the Art Institute of Chicago
    </p>
    <p class="ps-4 text-secondary">
      Maryland Institute College of Art, Baltimore
    </p>
  </div>
  </div>
  <div class="col col-9">
    <h2 class="fw-bold text-decoration-underline">
      Works
    </h2>
    <!-- PROJECT SECTION ------------------- -->
    <div class="row align-items-center">
      <div class="col-md-7">
        <h4 class="featurette-heading fw-normal lh-1">Rabbit</h4>
        <p class="text-secondary truncate">Rabbit is a 1986 series of three identical stainless steel sculptures by Jeff Koons. One of the editions of Rabbit is the most expensive work sold by a living artist at auction, being sold for $91.1 million in May 2019.Rabbit is a 1986 series of three identical stainless steel sculptures by Jeff Koons.One of the editions of Rabbit is the most expensive  </p>
      </div>
      <div class="col-md-5">
        <div class="card-thumb" style="background-image: url(https://media.npr.org/assets/img/2019/05/16/ap_19123535558210-a0447ff0d9ee9b0b87776576d9aa3d364ae02798.jpg);">
        <div class="card-description">
          <div class="content">
            <p class="heading text-center">Rabbit
            </p>
            <p class="my-3">
              <br>
            </p>
            <a routerLink="/work">
            <button class="btn">Discover project</button>
          </a>
          </div>
        </div>
      </div>
      </div>
    </div>
    <hr class="mt-4">
    <!-- END PROJECT SECTION ---------------- -->

    <!-- PROJECT SECTION ------------------- -->
    <div class="row align-items-center">
      <div class="col-md-7">
        <h4 class="featurette-heading fw-normal lh-1">Puppy</h4>
        <p class="text-secondary truncate">With Puppy, Koons engaged both past and present, employing sophisticated computer modeling to create a work that references the 18th-century formal European garden. A behemoth West Highland terrier carpeted in bedding plants, Puppy employs the most saccharine of iconography—flowers and puppies—in a monument to the sentimental.  </p>
      </div>
      <div class="col-md-5">
        <div class="card-thumb" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Puppy_de_Jeff_Koons_%282%29_--_2021_--_Bilbao%2C_Espa%C3%B1a.jpg/800px-Puppy_de_Jeff_Koons_%282%29_--_2021_--_Bilbao%2C_Espa%C3%B1a.jpg);">
        <div class="card-description">
          <div class="content">
            <p class="heading text-center">Puppy
            </p>
            <p class="my-3">
              <br>
            </p>
            <a routerLink="/work">
            <button class="btn">Discover project</button>
          </a>
          </div>
        </div>
      </div>
      </div>
    </div>
    <hr class="mt-4">
    <!-- END PROJECT SECTION ---------------- -->

    <!-- PROJECT SECTION ------------------- -->
    <div class="row align-items-center">
      <div class="col-md-7">
        <h4 class="featurette-heading fw-normal lh-1">Three Ball Total Equilibrium Tank</h4>
        <p class="text-secondary truncate">The Equilibrium Series (1983), consisting of one to three basketballs floating in distilled water, a project the artist had researched with the help of Nobel Prize-winning physicist Richard Feynman.[7] The Total Equilibrium Tanks are completely filled with distilled water and a small amount of ordinary salt, to assist the hollow balls in remaining suspended in the centre of the liquid.  </p>
      </div>
      <div class="col-md-5">
        <div class="card-thumb" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/2b/Three_Ball_Total_Equilibrium_Tank_by_Jeff_Koons%2C_Tate_Liverpool.jpg);">
        <div class="card-description">
          <div class="content">
            <p class="heading text-center">Three Ball Total Equilibrium Tank
            </p>
            <p class="my-3">
              <br>
            </p>
            <a routerLink="/work">
            <button class="btn">Discover project</button>
          </a>
          </div>
        </div>
      </div>
      </div>
    </div>
    <hr class="mt-4">
    <!-- END PROJECT SECTION ---------------- -->
  </div>
</div>
</div>

<app-footer></app-footer>
