<div class="container-fluid px-0 fade-in">
<div class="row m-0">
  <div class="col col-12 p-0" *ngIf="user">
    <div id="profile-upper">
      <div id="profile-cover-img">
        <img src="{{user.coverImg}}" alt="Banner image">
      </div>
      <div id="profile-img-container">
        <div id="profile-pic" class="rounded-circle">
          <img src="{{user.profile_picture}}" alt="Profile image">
        </div>
        <div id="username">
          <h2 class="fw-bold text-gradient-animation">{{user.artistname}} {{user.artistsurname}}</h2>
        </div>

      </div>
      <div id="black-grd"></div>
    </div>
  </div>
</div>
<div class="row mt-5 mx-0 px-2">
  <div class="col col-lg-3 col-md-12 col-sm-12 col-12 pt-3">
    <div class="bg-light border rounded-4 py-3">
    <h5 class="fw-bold text-center black-on-dark-mode">
      Intro
    </h5>
    <p class="px-2 text-secondary">
      {{user?.intro}}
    </p>
    <h5 class="fw-bold text-center black-on-dark-mode">
      Education
    </h5>
    <p class="px-2 text-secondary">
      {{user?.maCourse}}
    </p>
    <p class="px-2 text-secondary">
      {{user?.baCourse}}
    </p>
  </div>
  </div>
  <div class="col col-lg-9 col-md-12 col-12">
    <h2 class="fw-bold text-decoration-underline mt-4">
      Works
    </h2>
    <!-- PROJECT SECTION ------------------- -->
    <div class="row align-items-center" *ngFor="let work of works">
      <div class="col-md-7">
        <h4 class="featurette-heading fw-normal lh-1">{{work.title}}</h4>
        <p class="text-secondary truncate">{{work.description}}</p>
      </div>
      <div class="col-md-5">
        <div class="card-thumb" style="background-image: url({{work.photo[0]}});">
        <div class="card-description">
          <div class="content">
            <p class="heading text-center">{{work.title}}
            </p>
            <p class="my-3">
              <br>
            </p>
            <a [routerLink]="['/work', work.id]">
            <button class="btn">Discover project</button>
          </a>
          </div>
        </div>
      </div>
      </div>
      <hr class="mt-4">
    </div>
    <!-- END PROJECT SECTION ---------------- -->

  </div>
</div>
</div>

<app-footer></app-footer>
